<div class="modal-header">
    <h3 class="modal-title">{{connection.name + '/' + schema.name}}</h3>
</div>


<div class="modal-body">
    <div class="alert alert-danger" ng-show="schema.primarykeys && schema.primarykeys.length === 0">
        Tables without primary keys, cannot be tracked
    </div>

    <h4>Columns</h4>
    <table class="table table-condensed table-full-width table-hover">
        <tr>
            <th>Name
            <th>Type
            <th>Not null
            <th>Default
            <th>Length
            <th>Precision
            <th>Comment
            <th>
        </tr>
        <tr ng-repeat="column in schema.columns">
            <th>{{column.name}}
            <td><code>{{column.type}}</code>
            <td>{{column.notnull}}
            <td>{{column.default}}
            <td><code>{{column.length}}</code>
            <td><code>{{column.precision}}</code>
            <td>{{column.comment}}
            <td>
                <span 
                    ng-if="schema.primarykeys.indexOf(column.name) > -1" 
                    class="glyphicon glyphicon-star"
                    title="PRIMARY KEY"
                    ></span>
                <span 
                    ng-if="column.referTo.columns" 
                    title="refer to {{column.referTo.table}}.{{column.referTo.columns}}"
                    class="glyphicon glyphicon-record"><code>{{column.referTo.table}}.{{column.referTo.columns}}</code></span>
        </tr>
    </table>
</div>



<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">OK</button>
</div>